= form_for @record do |f|
  -if @record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
      %ul
        - @record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :day
    = f.date_select :day
  .field
    = f.label :item
    = f.text_field :item
  .field
    = f.label :expense
    = f.text_field :expense
  .field
    = f.label :income
    = f.text_field :income
  .field
    = f.label :tag
    = f.text_field :tag
  .field
    = f.label :remark
    = f.text_area :remark
  .actions
    = f.submit 'Save'
