%h1 L(ittle) Secret

- if !@records.empty? && user_signed_in?
  %table
    %tr
      %th Expense
      %th Income
      %th Balance
    %tr
      %td= @expense
      %td= @income
      %td= @balance

%table
  %tr
    %th Day
    %th Item
    %th Expense
    %th Income
    %th Tag
    %th Remark
    %th
    %th
    %th
  - if !user_signed_in?
    - mask(@records)
  - @records.each do |record|
    %tr
      %td= record.day
      %td= record.item
      %td= record.expense
      %td= record.income
      %td= record.tag
      %td= record.remark
      %td= link_to 'Show', record
      %td= link_to 'Edit', edit_record_path(record)
      %td= link_to 'Destroy', record, :confirm => 'Are you sure?', :method => :delete
      %td= record.class
%br

= link_to 'New Record', new_record_path
