<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @record.day %>
</p>

<p>
  <b>Item:</b>
  <%= @record.item %>
</p>

<p>
  <b>Expense:</b>
  <%= @record.expense %>
</p>

<p>
  <b>Income:</b>
  <%= @record.income %>
</p>

<p>
  <b>Tag:</b>
  <%= @record.tag %>
</p>

<p>
  <b>Remark:</b>
  <%= @record.remark %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
