%html
  %head
    %title L(ittle) Secret
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    - if user_signed_in?
      = current_user.email
      = link_to 'Sign out', destroy_user_session_path, :method => :delete
    -else
      = link_to 'Sign in', new_user_session_path
    %div
      = link_to "Records", records_path
      = link_to "Stat", stat_path
      = link_to "Average", stat_average_path
      = link_to "Trend", stat_trend_path
      = link_to "Zui", stat_zui_path
    = yield
